@font-face{
  font-family: 'hoon';
  font-style: normal;
  font-weight: normal;
  src: url('/font/HoonWhitecatR.eot'); 
  src: local('¡Ø'), url('/font/HoonWhitecatR.woff') format('woff');
}

body { font-size: 0; margin: 0; padding: 0; font-family: 'hoon'; position: relative; }
header { font-size: 16px; padding-bottom: 10px; border-bottom: 1px solid pink; }
article { width: 100%; }
footer { height: 100px; text-align: center; bottom: 0; border-top: 1px solid pink; }
ul { list-style: none; margin: 0; padding: 0; }
li { width: 15.5%; display: inline-block; cursor: pointer; text-align: center; }

.inner { width: 1000px; margin: 0 auto; }

.top_wrap { font-size: 14px; background-color: #ffe1f3; overflow: hidden; padding: 0 10px; }
.top_wrap::after { content: ''; clear: both; display: block; }
.top_wrap .login_container { padding: 7px 0; float: right; margin-right: -410px; transition: all 0.5s; }
.top_wrap .login_txt { display: inline-block; }
.top_wrap .login_txt span { cursor: pointer; }
.top_wrap .login_txt span:hover { color: red; }
.top_wrap .login_wrap { margin-left: 10px; display: inline-block; }
.top_wrap .login_wrap .txt_wrap { margin: auto 10px; display: inline-block; }
.top_wrap .login_wrap .txt { display: inline-block; }
.top_wrap .login_wrap .txt_wrap input { width: 100px; height: 25px; padding: 10px; }
.top_wrap .login_wrap .btn_wrap { display: inline-block; }
.top_wrap .login_wrap .btn_wrap .btn { width: 40px; margin: auto 5px; padding: 5px 0; border: 1px solid black; border-radius: 5px; display: inline-block; text-align: center; }
.menu_container { padding: 0 10px; }
.logo_wrap { width: 130px; padding-top: 15px; display: inline-block; }
.logo_wrap img { width: 100%; cursor: pointer; }
.menu_wrap { width: 500px; float: right; font-size: 20px; padding-top: 35px; }

.footer_logo { text-align: center; padding-top: 30px; }
.footer_logo .logo { width: 100px; display: inline-block; }
.footer_logo .logo img { width: 100%; }
.footer_logo .footer_txt { font-size: 14px; }
.footer_logo .footer_txt span { font-weight: bold; }

.slide_section { margin-top: 30px; width: 100%; position: relative; padding-top: 35.2%; }
.slide_section .slide { position: absolute; width: 100%; top: 0; }
.slide_section .slide:nth-child(2) { display: none; }
.slide_section .slide:nth-child(3) { display: none; }
.slide_section .slide img { width: 100%; }
.board_section { margin: 30px auto; }
.board_section .board_container { width: 50%; display: inline-block; vertical-align: top; }
.board_section .board_container .inner_wrap { width: 95%; margin: 0 auto; padding: 10px 0; }
.board_section .board_container .inner_wrap .title_wrap { font-size: 18px; letter-spacing: 5px; padding-bottom: 5px; }
.board_section .board_container .inner_wrap .title_wrap .more { float: right; font-size: 14px; cursor: pointer; }
.board_section .board_container .inner_wrap .board_wrap { border: 1px solid black; border-radius: 10px; }
.board_section .board_container .inner_wrap .board_wrap .board_txt { font-size: 14px; padding: 8px; }
.board_section .board_container .inner_wrap .board_wrap .board_txt span { cursor: pointer; }
.board_section .board_container .inner_wrap .board_wrap .board_txt2 { padding: 7.4px; }

.board_category_section { margin: 30px auto; width: 100%; position: relative; }
.board_category_section .inner_container { width: 90%; text-align: center; margin: 0 auto; }
.board_category_section .inner_container .diary_img { width: 100%; }
.board_category_section .inner_container .diary_img img { width: 100%; }
.board_category_section .inner_container .board_container { width: 80%; top: 10%; left: 10%; position: absolute; }
.board_category_section .inner_container .board_container .wrap_container { width: 50%; display: inline-block; vertical-align: top; }
.board_category_section .inner_container .board_container .wrap_container .select_wrap { width: 90%; text-align: left; }
.board_category_section .inner_container .board_container .wrap_container .select_wrap .folder { display: inline-block; }
.board_category_section .inner_container .board_container .wrap_container .select_wrap .folder select { width: 120px; padding: 5px 0 5px 10px; border-radius: 5px; }
.board_category_section .inner_container .board_container .wrap_container .select_wrap .date { display: inline-block; float: right; }
.board_category_section .inner_container .board_container .wrap_container .select_wrap .date select { width: 70px; padding: 5px 0 5px 10px; border-radius: 5px; }
.board_category_section .inner_container .board_container .wrap_container .select_wrap .date span { font-size: 16px; margin: 0 5px; }
.board_category_section .inner_container .board_container .wrap_container .list_wrap { width: 90%; height: 490px; overflow: hidden; margin-top: 20px; }
.board_category_section .inner_container .board_container .wrap_container .list_wrap .list { width: 105%; height: 490px; overflow-y: auto; }
.board_category_section .inner_container .board_container .wrap_container .list_wrap .list .txt { font-size: 18px; }
.board_category_section .inner_container .board_container .wrap_container .list_wrap .list .txt span { cursor: pointer; }
.board_category_section .inner_container .board_container .wrap_container .title_wrap { width: 90%; margin: 0 auto; }
.board_category_section .inner_container .board_container .wrap_container .title_wrap .title { width: 70%; display: inline-block; font-size: 18px; text-align: left; }
.board_category_section .inner_container .board_container .wrap_container .title_wrap .day { display: inline-block; font-size: 18px; text-align: center; }
.board_category_section .inner_container .board_container .wrap_container .content_container { width: 85%; margin: 10px 0 10px 40px; }
.board_category_section .inner_container .board_container .wrap_container .content_container .content_wrap { width: 95%; height: 510px; overflow: hidden; }
.board_category_section .inner_container .board_container .wrap_container .content_container .content { width: 105%; height: 495px; margin: 10px; font-size: 16px; overflow-y: auto; text-align: left; }
.board_category_section .inner_container .board_container .wrap_container .content_container .content .txt { border-bottom: 1px solid rgba(88, 88, 88, 0.27); padding: 2px 0; }


@media all and (max-width: 1000px) { 
	.inner { width: 100%; }
}

@media all and (max-width: 670px) {
	.logo_wrap { display: block; margin: 0 auto; }
	.menu_wrap { width: 100%; float: none; font-size: 14px; text-align: center; padding-top: 10px; }
	.slide_section .slide_wrap { width: 100%; }
	.slide_section .slide_wrap .slide { width: 100%; }
	.top_wrap .login_container { margin-right: -315px; }
	.top_wrap .login_wrap .txt_wrap { margin: 0; }
	.top_wrap .login_wrap .txt_wrap input { width: 75px; }
	.top_wrap .login_wrap .bt_wrap .btn { width: 35px; }
}
